<h1>Kegs</h1>
{{#each kegs}}
  <div class="row">
    <div class="panel panel-inverse" data-attribute={{this.id}}>
      <div class="panel-body">
        <div class="col-md-6">
            {{#if this.kicked}}
              <h5 class="keg-beer-name">The keg is kicked!</h5>
            {{else}}
              <h5 class="keg-beer-name">{{this.name}}</h5>
              <p>{{this.validation}} Validation(s)</p>
              <button class="kicked-btn" id="kicked-{{this.id}}" data-attribute={{this.id}}>KICK IT</button>
              <button class="validate-btn" id="validate-{{this.id}}" data-id={{this.id}} data-attribute={{this.validation}}>Beer Confirmed</button>
            {{/if}}
            <button class="update-btn" id="update-{{this.id}}" data-id={{this.id}}>New Beer?</button>
        </div>
      </div>
    </div>
  </div><!--close row-->

      </div>
    </div>

{{/each}}
